.about {
    padding: 40px 100px;
}

.profile {
    background-color: transparent;
    box-sizing: border-box;
    border: 2px solid whitesmoke;
    border-radius: 32px 64px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 20px;
}

.pro-image {
    border-radius: 16px;
    max-width: 100%;
    max-height: auto;
}

.profile-info {
    clear: both; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .social-linkss {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.aboutme {
    border: 2px solid whitesmoke;
    box-sizing: border-box;
    border-radius: 32px 64px;
    height: fit-content;
    padding: 10px;
}

b {
    color: rgb(81, 243, 108);
    font-size: 15px;
}

span {
    color: rgb(81, 243, 108);
    font-weight: bolder;
}

.name-color {
    color: rgb(255, 201, 99);
}

h5 {
    color: rgb(255, 201, 99);
}

.fsd {
    color: rgb(250, 92, 92);
    font-size: large;
}

p, h1 {
    color: rgb(140, 140, 216)
}


/* Add these styles for mobile devices */
@media screen and (max-width: 768px) {
    .about {
      padding: 20px; /* Adjust padding for mobile */
    }
  
    .profile {
      text-align: center; /* Center profile content */
    }
  
    .pro-image {
      margin: 0 auto; /* Center the profile image */
    }
  
    .profile-info {
      text-align: center; /* Center profile info */
    }
  
    .social-linkss {
      text-align: center; /* Center social links */
    }
  
    .aboutme {
      padding: 10px 10px; /* Adjust padding for mobile */
      border-radius: 20px; /* Adjust border radius as needed */
    }
    
    /* Add ellipsis for larger text */
    .aboutme p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  